.album {
	width: 410px;
	height: 410px;
	margin: 67px auto 0;
	background: url('../img/album.jpg') 50% 50% no-repeat;
	background-size: 100% 100%;
	@include transform-origin(50%, 50%);
	will-change: transform;
	border-radius: 12px;
	@include scale(1);
	@include single-transition(all, $time, ease);
}
// album scale
.album-big {
	@include scale(1.25);
	@include single-transition(all, $time+.3s, cubic-bezier(0.18, 0.89, 0.32, 1.28));
	@include single-box-shadow(0, 0, 80px, 16px, #b9b9b9);
}

.album-pause-up {
	@include translate3d(0, -30px, 0);
	@include single-transition(all, $time, ease);
}

.album-play-up {
	// @include scale(1.16);
	// @include translate3d(0, -45px, 0);
	@include transform(scale(1.07) translate3d(0, -30px, 0));
	@include single-transition(all, $time, ease);
}