.controls {
	width: 394px;
	height: 72px;
	margin: 40px auto 0;
	position: relative;
	span {
		display: inline-block;
		@include transform-origin(50%, 50%);
	}
	.up {
		@extend %fs;
		position: relative;
		z-index: 2;
		span {
			// @include transform-origin(33.33333%, 50%);
		}
	}
	.pp {
		position: relative;
		height: 72px;
		&:before, &:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			left: -23px;
			border-radius: 3px;
			border: {
				top: 36px solid transparent;
				right: 64px solid transparent;
				bottom: 36px solid transparent;
				left: 64px solid #000;
			}
		}
	}
	.pp-play {
		width: 56px;
		&:before, &:after {
			left: 0;
			border: 0;
			width: 24px;
			height: 72px;
			background: #000;
		}
		&:after {
			left: 32px;
		}
	}
	.prev, .next {
		position: absolute;
		top: 14px;
		width: 0;
		height: 44px;
		&:before, &:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			border-radius: 3px;
			border: {
				top: 22px solid transparent;
				right: 37px solid transparent;
				bottom: 22px solid transparent;
				left: 37px solid transparent;
			}
		}
	}
	.prev {
		left: 0;
		&:before, &:after {
			border-right-color: #000;
		}
		&:before {
			left: -37px;
		}
	}
	.next {
		right: 74px;
		&:before, &:after {
			border-left-color: #000;
		}
		&:after {
			left: 37px;
		}
	}
	.down {
		@extend %fs;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		span {
			background: #e5e5e5;
			border-radius: 50%;
			width: 120px;
			height: 120px;
			opacity: 0;
			@include single-transition(all, .3s, ease);
		}
	}
	.prev-bg, .next-bg {
		position: absolute;
		top: -24px;
	}
	.prev-bg {
		left: -18px;
	}
	.pp-bg {
		position: relative;
		top: -24px;
	}
	.next-bg {
		right: -18px;
	}
}