.options {
	width: 512px;
	height: 10px;
	margin: 0 auto;
	position: relative;
	top: -27px;
	text-align: right;
	.dots {
		display: inline-block;
		width: 10px;
		height: 10px;
		background: $red;
		border-radius: 50%;
		position: relative;
		@include single-transition(opacity, .3s, ease);
		&:before, &:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			left: -14px;
			width: 10px;
			height: 10px;
			background: $red;
			border-radius: 50%;
		}
		&:before {
			left: -28px;
		}
		&:active {
			opacity: .3;
		}
	}
}