.speaker {
		width: 44px;
		height: 45px;
		margin: 53px auto 0;
		position: relative;
		&:after {
			content: '';
			width: 0;
			height: 0;
			border: {
				top: 16px solid transparent;
				right: 18px solid transparent;
				bottom: 16px solid $red;
				left: 18px solid transparent;
			}
			position: absolute;
			bottom: 0;
			left: 4px;
		}
		span {
			position: absolute;
			&:before, &:after {
				content: '';
				width: 0;
				height: 0;
				display: inline-block;
				position: absolute;
				border-radius: 50%;
			}
			@for $i from 1 through 3 {
				&.wave#{$i} {
					width: 58px-14px*$i;
					height: 58px-14px*$i;
					top: 7px*($i+-1);
					left: 7px*($i+-1);
					&:before {
						border: (58px-14px*$i)/2 solid $pink;
						border-bottom-color: transparent;
						top: 0;
						left: 0;
					}
					&:after {
						border: (52px-14px*$i)/2 solid $white;
						top: 3px;
						left: 3px;
					}
				}
			}
		}
	}