.timeline {
	width: 512px;
	height: auto;
	margin: 91px auto 0;
	z-index: 2;
	.line {
		width: 100%;
		height: 6px;
		background-color: #dedede;
		border-radius: 6px;
		position: relative;
		.played {
			position: absolute;
			top: 0;
			left: 0;
			@extend %fs;
			background-color: #8e8e93;
			border-radius: 6px;
			width: 0;
			@include single-transition(all, $time+-.1s, ease);
		}
		.played-color {
			background-color: $red;
		}
		.indicator {
			display: inline-block;
			width: 12px;
			height: 12px;
			background-color: #8e8e93;
			position: absolute;
			top: -3px;
			left: 0;
			border-radius: 50%;
			@include transform-origin(50%, 50%);
			@include single-transition(all, $time+-.1s, ease);
			border: 1px solid transparent;
		}
		.indicator-big {
				background-color: $red;
				@include single-transition(all, $time, cubic-bezier(0.18, 0.89, 0.32, 1.28));
				@include scale(14/3);
				border-color: $white;
		}
	}
	.time {
		width: 100%;
		height: 30px;
		position: relative;
		margin-top: 12px;
		span {
			position: absolute;
			top: 0;
			height: 30px;
			color: #8e8e93;
			letter-spacing: 2px;
			font-size: 26px;
			@include single-transition(all, $time+-.1s, ease);
		}
		.play {
			left: 2px;
			width: 60px;
			text-align: left;
		}
		.rest {
			right: 2px;
			width: 70px;
			text-align: right;
		}
		.play-down, .rest-down {
			@include translate3d(0, 16px, 0);
			color: $red;
		}
		.play-color, .rest-color {
			color: $red;
		}
	}
}