.volumes {
	width: 421px;
	height: 6px;
	background: #dbdbdb;
	margin: 54px auto 0;
	border-radius: 6px;
	position: relative;
	.progress {
		@extend %fs;
		position: absolute;
		top: 0;
		left: 0;
		background: #8d8d93;
		border-radius: 6px;
		width: 176px;
	}
	.v-indicator {
		display: inline-block;
		width: 56px;
		height: 56px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		top: -25px;
		left: 143px;
		border: 1px solid #b4b4b4;
		@include box-shadow(#d7d7d7 0 10px 6px -3px, #d7d7d7 0 16px 80px 0);
	}
	.v-low, .v-high {
		display: inline-block;
		position: absolute;
		&:before, &:after {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			z-index: 2;
		}
		&:before {
			width: 5px;
			height: 8px;
			background: #8d8d93;
		}
		&:after {
			border : {
				top: 10px solid transparent;
				right: 12px solid #8d8d93;
				bottom: 10px solid transparent;
				left: 12px solid transparent;
			}
			border-radius: 3px;
			left: -12px;
		}
	}
	.v-low {
		width: 14px;
		height: 20px;
		left: -40px;
		top: -7px;
		&:before {
			top: 6px;
		}
	}
	.v-high {
		width: 33px;
		height: 28px;
		right: -59px;
		top: -11px;
		&:before {
			top: 11px;
		}
		&:after {
			top: 4px;
		}
		i {
			position: absolute;
			&:before, &:after {
				content: '';
				width: 0;
				height: 0;
				display: inline-block;
				position: absolute;
				border-radius: 50%;
			}
			@for $i from 1 through 3 {
				&.wave#{$i} {
					width: 58px-14px*$i;
					height: 58px-14px*$i;
					top: -(30px-14px*$i)/2;
					right: 7px*($i+-1);
					&:before {
						border: (58px-14px*$i)/2 solid transparent;
						border-right-color: #8d8d93;
						top: 0;
						left: 0;
					}
					&:after {
						border: (52px-14px*$i)/2 solid $white;
						top: 3px;
						right: 2px;
					}
				}
			}
		}
	}
}