doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=640,target-densitydpi=device-dpi,maximum-scale=1,user-scalable=no")
	title Apple Music
	link(rel="icon" href="img/apple.png")
	link(rel="stylesheet" href="css/main.css")
body
	.apple-music
		nav.status
		.under
			span.inner
		.show
			.arr-down
			//- ---------------- -//
			.album
			//- ---------------- -//
			.timeline
				.line
					.played
					span.indicator
				.time
					span.play 0:00
					span.rest -3:50
			//- ---------------- -//
			.info
				h4.name See You Again
				.scroller
					p.desc Wiz Khalifa/Charlie Puth &mdash; Furious 7(Origin Motion Picture Soundtrack)
			//- ---------------- -//
			.controls
				.up
					span.prev
					span.pp
					span.next
				.down
					span.prev-bg
					span.pp-bg
					span.next-bg
			//- ---------------- -//
			.volumes
				.progress
				span.v-indicator
				span.v-low
				span.v-high
					i.wave1
					i.wave2
					i.wave3
			//- ---------------- -//
			.speaker
				span.wave1
				span.wave2
				span.wave3
			//- ---------------- -//
			.options
				span.dots
	//- audio(class="music", src="music/See You Again.mp3", preload)
	script(type="text/javascript" src="js/jquery.min.js")
	script(type="text/javascript" src="js/app.js")